{% extends "base.html" %}


{% block content %}
    {# 整体容器 #}
    <div class="container" align="center" ng-controller="appShareCtrl">


        {# 非登录页面header：标题和退出按钮 #}
        <div class="task_list_header" align="left">
            <div style="display: inline-block;margin-left: 20px;border-bottom: solid 4px whitesmoke;">
                <h1 style="color: white;">
                    <strong style="text-shadow: 4px 4px 4px #0f0f0f;">东莞移动数据库健康巡检</strong>
                </h1>
            </div>
            <div style="display: inline-block;float: right;width: 100px;margin: 8px 10px">
                <div align="center"><h5><strong><a href={% url 'user_logout' %}>退出 {{ request.session.user }}</a> </strong></h5></div>
            </div>
        </div>


        {# 内容主体 #}
        <div style="width: 800px;min-height: 490px;border: solid 1px gray;margin-top: -1px">
            {% block app_content %}非登录页面内容区域{% endblock %}
        </div>


        {# 网站底部 #}
        <div style="width:800px;margin: 5px">
            <small style="width:92%">Copyright @ 2018 东莞移动 · <a href="http://www.canway.net" target="_blank"> 广州嘉为</a>提供技术支持
            </small>
            <small style="display:inline-block;float: right;width: 8%">
                {% block footer %}{# 任务列表和管理后台的导航 #}{% endblock %}</small>
        </div>


    </div>
{% endblock %}